.linear-icon-body {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;

    .icon-menu {
        font-size: 1.5rem;
        transform: rotateY(35deg);
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
    .icon-gradient {
        path {
            fill: url(#my-cool-gradient) !important;
            stroke-width: 0 !important;
        }
    }
    svg {
        width: 25px;
        height: 25px;
    }
}
