@import "../../../../../../styles/styles-utils.scss";

.checkbox {
    &__main-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 1.375rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        font-family: $font-primary;
        display: flex;
        align-items: center;

        @include themify($themes) {
            color: themed("textColorBase");
        }

        &.--small {
            font-size: 0.75rem;
            height: 16px;
            padding-left: calc(16px + 12px);
        }

        &.--normal {
            font-size: 0.875rem;
            height: 24px;
            padding-left: calc(16px + 12px);
        }

        &.--large {
            font-size: 1rem;
            height: 32px;
            padding-left: calc(16px + 12px);
        }
    }

    &__main-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2.4px;

        @include themify($themes) {
            background-color: themed("inputFieldBackground");
        }

        &:focus {
            outline: none !important;
            border: 1px solid $color-primary;
        }

        &:after {
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &.--semi-checked {
            &:after {
                content: "";
                position: absolute;
                display: none;
                border: solid white;
                border-width: 0 2px 0 0;
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }

        &.--small {
            height: 16px;
            width: 16px;
            &:after {
                width: 3px;
                height: 8px;
                left: 6px;
                top: 2px;
            }

            &.--semi-checked {
                &:after {
                    left: 7px;
                    top: 3px;
                    width: 0px;
                    height: 10px;
                }
            }
        }

        &.--normal {
            height: 24px;
            width: 24px;
            &:after {
                width: 5px;
                height: 10px;
                left: 9px;
                top: 5px;
            }

            &.--semi-checked {
                &:after {
                    left: 11px;
                    top: 4px;
                    height: 14px;
                    width: 0px;
                }
            }
        }

        &.--large {
            height: 32px;
            width: 32px;
            &:after {
                width: 7px;
                height: 15px;
                left: 13px;
                top: 6px;
            }

            &.--semi-checked {
                &:after {
                    left: 15px;
                    top: 6px;
                    height: 19px;
                    width: 0px;
                    border-width: 0 3px 0 0;
                }
            }
        }
    }

    &__main-container input:checked ~ &__checkmark {
        background-color: $color-primary;
    }

    &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    &__main-container input:checked ~ &__checkmark:after {
        display: block;
    }
}
