@import "../../../styles/styles-utils.scss";

.go-badge {
    border-radius: 0.75rem;
    width: auto;
    max-width: 3.125rem;
    color: white;

    &__blue {
        background-color: $color-primary;
    }
    &__red {
        background-color: $color-system-feedback-error;
    }

    &.m {
        height: 1.5rem;

        span {
            display: block;
            margin-left: 0.3rem;
            font-size: 0.938rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            padding-top: 0.2rem;
            & .svg-inline--fa {
                width: 0.813rem;
                height: 0.813rem;
                margin-right: 0.5rem;
                vertical-align: middle;
            }
        }
    }
    &.l {
        height: 2.063rem;
        border-radius: 1.008rem;
        max-width: 3.75rem;
        span {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            text-align: justify;
            font-size: 1.125rem;
            padding-top: 0.4rem;
            margin-left: 0.7rem;
            & .svg-inline--fa {
                width: 0.9rem;
                height: 0.9rem;
                margin-right: 0.5rem;
            }
        }
    }
    &.s {
        height: 1rem;
        max-width: 2.188rem;
        span {
            display: block;
            font-size: 0.75rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            margin-left: 0.3rem;
            text-align: justify;

            & .svg-inline--fa {
                vertical-align: middle;
                margin-right: 0.2rem;
                width: 0.6rem;
                height: 0.6rem;
            }
        }
    }
}
