@import "../../../styles/styles-utils.scss";

.multiselect {
    display: flex;
    flex-direction: column;
    max-width: 19.9375rem;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    &.disabled {
        cursor: not-allowed;
    }
    .multiselect-label {
        padding: 0 0 0.5rem;
        font-family: $font-primary;
        font-size: 1rem;
        @include themify($themes) {
            color: themed("textColorBase");
        }
    }
    .multiselect-error {
        position: absolute;
        bottom: -1.25rem;
        height: 1.0625rem;
        width: 19.125rem;
        color: #e37272;
        font-family: "Open Sans";
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.0625rem;
    }
}

.multiselect--l,
.multiselect-dropdown--l {
    width: 19.9375rem;
    .multiselect-items {
        height: 2.5rem;
        .multiselect-item-all,
        .multiselect-item {
            height: 1.8125rem;
        }
    }
}

.multiselect--m,
.multiselect-dropdown--m {
    width: 19.9375rem;
    .multiselect-items {
        height: 2rem;
        .multiselect-item-all,
        .multiselect-item {
            height: 1.5rem;
        }
    }
}

.multiselect-dropdown-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.multiselect-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    margin-top: 0.3125rem;
    max-width: 20rem;
    height: 23.4375rem;
    border-radius: 0.125rem;
    @include themify($themes) {
        background-color: themed("panelBackgroundColor");
    }
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.16),
        0 0.1875rem 0.25rem 0 rgba(0, 0, 0, 0.16),
        0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.16);
    z-index: 999;
    &--no-search {
        height: 10.625rem;
    }

    &.--checkboxtree {
        height: 21.875rem;
    }
}

.multiselect-separator-line {
    margin: 0 auto;
    box-sizing: border-box;
    height: 0.0625rem;
    max-width: 16.4375rem;
    @include themify($themes) {
        background: themed("borderColorOnly");
    }
    margin-top: 0.625rem;
}

.multiselect-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
