@import "./styles-utils.scss";

.multiselect-dropdown-content {
    display: flex;
    width: calc(100% - 2.375rem);
    height: 100%;
    flex-direction: column;
    padding-left: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.multiselect-dropdown-content-top {
    margin-top: 1.0625rem;
}

.multiselect-dropdown-items {
    height: 100%;
    width: 100%;
}

.multiselect-item-row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.multiselect-item-title {
    width: 100%;
    height: 100%;
    @include themify($themes) {
        color: themed("colorBase");
    }
    font-family: $font-primary;
    font-size: 0.875rem;
}

/* Custom Scroll Bar */
.list-drop-down-custom-scrollbar {
    padding-right: 0.625rem;
    cursor: pointer;
    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        @include themify($themes) {
            background-color: themed("backgroundColorScrollbar");
        }
        border-radius: 0.625rem;
    }

    &::-webkit-scrollbar-thumb {
        @include themify($themes) {
            background: themed("backgroundBaseScrollbar");
        }
        border-radius: 0.625rem;
    }

    &::-webkit-scrollbar-corner {
        @include themify($themes) {
            background: themed("backgroundCornerScrollbar");
        }
    }

    @include themify($themes) {
        scrollbar-color: themed("backgroundScrollbar");
    }
    scrollbar-width: thin;
}
