$font-primary: "Open Sans", sans-serif;

$color-black-base: #5c5c5c;
$color-white-base: #ffffff;

/* Custom Scroll */
$color-scroll-background-color-dark: rgba(45, 45, 45, 0.3);
$color-scroll-background-dark: rgb(45, 45, 45);
$color-scroll-background-corner-dark: rgba(0, 0, 0, 0);
$color-scroll-scrollbar-dark: rgb(45, 45, 45) rgba(45, 45, 45, 0.3);

$color-scroll-background-color-light: #babbbc;
$color-scroll-background-light: #797c7d;
$color-scroll-background-corner-light: #babbbc;
$color-scroll-scrollbar-light: #797c7d #babbbc;

@function themed($key) {
    @return map-get($theme-map, $key);
}

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

/*
 * Implementation of themes
 */
@mixin themify($themes) {
    @each $theme, $map in $themes {
        .#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

$themes: (
    light: (
        colorBase: $color-black-base,
        backgroundColorScrollbar: $color-scroll-background-color-light,
        backgroundBaseScrollbar: $color-scroll-background-light,
        backgroundCornerScrollbar: $color-scroll-background-corner-light,
        backgroundScrollbar: $color-scroll-scrollbar-light,
    ),
    dark: (
        colorBase: $color-white-base,
        backgroundColorScrollbar: $color-scroll-background-color-dark,
        backgroundBaseScrollbar: $color-scroll-background-dark,
        backgroundCornerScrollbar: $color-scroll-background-corner-dark,
        backgroundScrollbar: $color-scroll-scrollbar-dark,
    ),
);
