$font-primary: "Open Sans", sans-serif;

$color-font-dark-base: #ffffff;
$color-font-light-base: #000000;

$color-primary: #319acb;

$color-button-background: #c6c6c6;
$color-button-text-color: #5c5c5c;

$color-button-hover: rgba(49, 154, 203, 0.4);

@function themed($key) {
    @return map-get($theme-map, $key);
}

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

/*
 * Implementation of themes
 */
@mixin themify($themes) {
    @each $theme, $map in $themes {
        .#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

$themes: (
    light: (
        textColorBase: $color-font-light-base,
    ),
    dark: (
        textColorBase: $color-font-dark-base,
    ),
);
