body {
    background: #e8e5ea;
}

.wrap {
    position: relative;
    width: 100px;
    height: 200px;
    margin-left: calc(50% - 25px);
}

.drop {
    width: 40px;
    height: 40px;
    animation: drop 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite;
}

.drop circle {
    fill: #2a96ed;
}

.drop-outer {
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 200px;
    overflow: hidden;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    background-clip: padding-box;
    -webkit-mask-image: -webkit-radial-gradient(
        circle,
        #2a96ed 100%,
        black 100%
    );
}

.ripple {
    position: relative;
    box-sizing: border-box;
    width: 240px;
    height: 240px;
    top: 70px;
    left: -100px;
    transform: rotateX(65deg);
}

.ripple .ripple-svg {
    position: absolute;
    width: 240px;
    height: 240px;
    opacity: 0;
}

.ripple .ripple-svg circle {
    fill: none;
    stroke: #2a96ed;
    stroke-width: 10px;
    stroke-alignment: inner;
}

.ripple-1 {
    animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.ripple-1 .ripple-svg {
    animation: fade-in-out 2s linear 0s infinite;
}

.ripple-1 .ripple-svg circle {
    animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.ripple-2 {
    animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
    top: -170px;
}

.ripple-2 .ripple-svg {
    animation: fade-in-out 2s linear 0.2s infinite;
}

.ripple-2 .ripple-svg circle {
    animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
}

.ripple-3 {
    animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
    top: -410px;
}

.ripple-3 .ripple-svg {
    animation: fade-in-out 2s linear 0.35s infinite;
}

.ripple-3 .ripple-svg circle {
    animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
}

.text-ripple {
    font-family: "Roboto", sans-serif;
    top: -485px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2a96ed;
    left: -30px;
}

@keyframes drop {
    0% {
        transform: scale3d(0.01, 0.01, 0.01) translateY(0);
    }
    10% {
        transform: scale3d(1, 1, 1);
    }
    44% {
        transform: scale3d(1, 1, 1) translateY(200px);
    }
    100% {
        transform: scale3d(1, 1, 1) translateY(200px);
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    42% {
        opacity: 0;
    }
    52% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2);
    }
    42% {
        transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2);
    }
    100% {
        transform: rotateX(65deg) scale3d(0.9, 0.9, 0.9);
    }
}

@keyframes border {
    0% {
        stroke-width: 6px;
    }
    42% {
        stroke-width: 6px;
    }
    100% {
        stroke-width: 2px;
    }
}

.loader {
    font-family: "Roboto", sans-serif;
    top: -485px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2a96ed;
    left: -60px;
    display: flex;

    .dots {
        display: flex;
        position: relative;
        top: 20px;
        left: -10px;

        width: 100px;

        animation: dots 2s ease infinite 1s;
        div {
            position: relative;

            width: 10px;
            height: 10px;
            margin-right: 10px;
            border-radius: 100%;

            background-color: #2a96ed;
            &:nth-child(1) {
                width: 0px;
                height: 0px;
                margin: 5px;
                margin-right: 15px;
                animation: show-dot 2s ease-out infinite 1s;
            }
            &:nth-child(4) {
                background-color: transparent;

                animation: dot-fall-left 2s linear infinite 1s;

                &:before {
                    position: absolute;

                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                    border-radius: 100%;

                    background-color: #2a96ed;

                    content: "";

                    animation: dot-fall-top 2s
                        cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s;
                }
            }
        }
    }
}

@keyframes dots {
    0% {
        left: -10px;
    }
    20%,
    100% {
        left: 10px;
    }
}

@keyframes show-dot {
    0%,
    20% {
        width: 0px;
        height: 0px;
        margin: 5px;
        margin-right: 15px;
    }
    30%,
    100% {
        width: 10px;
        height: 10px;
        margin: 0px;
        margin-right: 10px;
    }
}

@keyframes dot-fall-left {
    0%,
    5% {
        left: 0px;
    }
    100% {
        left: 200px;
    }
}

@keyframes dot-fall-top {
    0%,
    5% {
        top: 0px;
    }
    30%,
    100% {
        top: 50vh;
    }
}
