@import "./styles-utils.scss";

.select-item-title {
    width: 95%;
    height: 19px;
    padding: 8px 16px;
    @include themify($themes) {
        color: themed("colorBase");
    }
    font-family: $font-primary;
    font-size: 0.875rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
        border-radius: 16px;
        @include themify($themes) {
            background-color: themed("backgroundHoveredItemSelector");
        }
    }
    &.--selected {
        width: 100%;
        height: 100%;
        min-height: 20px;
        padding: 4px 16px;
        @include themify($themes) {
            color: themed("colorBase");
        }
        font-family: $font-primary;
        font-size: 0.875rem;
        background-color: $color-selected-item-selector;
        border-radius: 16px;
    }
}
