$themes: (
  light: (
    panelBackgroundColor: $color-background-light-2,
    panelBackgroundColor2: $color-background-light-2,
    borderColor: $color-border-light,
    borderColorOnly: $color-border-color-light,
    inputFieldBackground: $color-background-light-3,
    textColorBase: $color-text-black-base,
    textColorWeaker: $color-text-black-brighter-1,
    textColorWeakest: $color-text-black-brighter-2,
    iconColor: $color-background-dark-5,
    subtitleColor: $color-text-black-brighter-2,
    titleAlarmBarColor: $color-background-dark-6,
    borderAlarmBarColor: $color-background-light-3,
    subtitleAlarmBArColor: $color-background-light-1,
    backgroundColorScrollbar: $color-scroll-background-color-light,
    backgroundBaseScrollbar: $color-scroll-background-light,
    backgroundCornerScrollbar: $color-scroll-background-corner-light,
    backgroundScrollbar: $color-scroll-scrollbar-light,
    ellipsisBackground: $color-background-light-2,
    ellipsisBody: $color-background-light-4,
    ellipsisBodyHover: $color-background-body-hover-light,
    colorBodyHover: $color-black-dark,
    legendColor: $color-text-legend-light,
    legendHeader: $color-legend-header-light,
    legendRow: $color-background-row-light,
    pagerColor: $color-black-dark,
    backgroundSearchColor: $color-background-search-light,
    textSearchColor: $color-text-search-light,
    headerColorTile: $color-header-tile-light,
    headerTextColorTile: $color-header-text-tile-light,
    widgetHeaderColor: $color-background-light-7,
    widgetContentColor: $color-background-light-1,
    BorderColor: $color-boder-search-light,
    PickerColor: $color-picker-light,
    PickerButonColor: $color-picker-button-light,
    PickerDayHoverColor: $color-picker-day-hover-light,
    gradientBackground: $color-gradient-light,
    inputBackground: $color-input-background-light,
    tooltipBackground: $color-background-light-4,
    progressbarBackgroundColor: $color-background-light-3,
    linearProgressbarBackgroundColor: $color-background-light-3,
    linearProgressbarLightBlueColor: $color-primary-brighter-1,
    linearProgressbarBlueColor: $color-progressbar-fill-blue-dark,
    linearProgressbarLightGreenColor: $color-system-feedback-success-3,
    widgetHeaderTextColor: $color-text-black-brighter-1,
    circularProgressbarNumericalValue: $color-text-black-brighter-1,
    iconColorActive: $color-background-light-1,
    tabItemActive: $color-text-black-brighter-1,
    tabItemDefault: $color-text-black-brighter-2,
    inputBorder: $color-system-feedback-disabled,
    breadCrumbSlashColor: $color-text-black-base,
    calendarTabsDayBetweenBackground: $color-text-white-darker-2,
    chartGridColor: $color-text-white-darker-1,
    chartLegendColor: $color-text-black-brighter-2,
    chartLegendTextColor: $color-text-black-brighter-1,
    datePickerAlternativeBackground: $color-background-light-2,
    calendarMonthNameColor: $color-primary,
    calendarButtonsSeparatorColor: $color-system-feedback-disabled,
    mapErrorLocationBgColor: $map-error-location-background-color-light,
    mapErrorLocationColor: $color-text-black-brighter-2,
    mapErrorLocationMapIconColor: $color-background-light-4,
    tooltipBackgroundColor: $tooltip-background-color-light,
    tooltipBorderColor: $tooltip-border-color-light,
    tooltipText1Color: $tooltip-key-text1-color-light,
    tooltipText2Color: $tooltip-key-text2-color-light,
    tooltipSeparatorColor: $tooltip-separator-color-light,
    searchAlternativeBackground: $color-background-light-3,
    textPlaceholderColor: $color-text-placeholder-light,
    messageErrorBackground: $color-background-light-3,
    messageErrorText: $tooltip-key-text2-color-light,
    switcher: $color-background-light-3,
    notificationBackground: $color-toast-background-light,
    notificationBody: $color-background-light-1,
    notificationHeader: $color-background-light-2,
  ),
  dark: (
    panelBackgroundColor: $color-background-dark-2,
    panelBackgroundColor2: $color-background-dark-4,
    borderColor: $color-border-dark,
    borderColorOnly: $color-border-color-dark,
    inputFieldBackground: $color-background-dark-5,
    textColorBase: $color-text-white-base,
    textColorWeaker: $color-text-white-darker-1,
    textColorWeakest: $color-text-white-darker-2,
    iconColor: $color-background-light-1,
    subtitleColor: $color-text-white-base,
    titleAlarmBarColor: $color-background-light-1,
    borderAlarmBarColor: $color-background-dark-4,
    subtitleAlarmBArColor: $color-background-dark-2,
    backgroundColorScrollbar: $color-scroll-background-color-dark,
    backgroundBaseScrollbar: $color-scroll-background-dark,
    backgroundCornerScrollbar: $color-scroll-background-corner-dark,
    backgroundScrollbar: $color-scroll-scrollbar-dark,
    ellipsisBackground: $color-background-dark-2,
    ellipsisBody: $color-background-dark-1,
    ellipsisBodyHover: $color-background-body-hover-dark,
    colorBodyHover: $color-text-white-base,
    legendColor: $color-text-legend-dark,
    legendHeader: $color-legend-header-dark,
    legendRow: $color-background-row-dark,
    pagerColor: $color-text-white-base,
    backgroundSearchColor: $color-background-search-dark,
    textSearchColor: $color-text-search-dark,
    headerColorTile: $color-header-tile-dark,
    headerTextColorTile: $color-header-text-tile-dark,
    widgetHeaderColor: $color-background-dark-3,
    widgetContentColor: $color-background-dark-2,
    BorderColor: $color-boder-search-dark,
    PickerColor: $color-picker-dark,
    PickerButonColor: $color-picker-button-dark,
    PickerDayHoverColor: $color-picker-day-hover-dark,
    gradientBackground: $color-gradient-dark,
    inputBackground: $color-input-background-dark,
    tooltipBackground: $color-background-dark-4,
    progressbarBackgroundColor: $color-background-dark-4,
    linearProgressbarBackgroundColor: $color-background-dark-5,
    linearProgressbarLightBlueColor: $color-primary-brighter-2,
    linearProgressbarBlueColor: $color-progressbar-fill-blue-dark,
    linearProgressbarLightGreenColor: $color-progressbar-fill-lightgreen-light,
    widgetHeaderTextColor: $color-text-white-base,
    circularProgressbarNumericalValue: $color-text-white-base,
    iconColorActive: $color-background-light-1,
    tabItemActive: $color-text-white-base,
    tabItemDefault: $color-text-white-darker-2,
    inputBorder: $color-background-simple-textfied-dark,
    breadCrumbSlashColor: $color-background-light-1,
    calendarTabsDayBetweenBackground: $color-background-dark-1,
    chartGridColor: $color-text-black-brighter-2,
    chartLegendColor: $color-text-black-brighter-2,
    chartLegendTextColor: $color-text-white-base,
    datePickerAlternativeBackground: $color-background-dark-5,
    calendarMonthNameColor: $color-primary-brighter-1,
    calendarButtonsSeparatorColor: $color-background-dark-8,
    mapErrorLocationBgColor: $map-error-location-background-color-dark,
    mapErrorLocationColor: $color-text-white-darker-2,
    mapErrorLocationMapIconColor: $color-background-dark-2,
    tooltipBackgroundColor: $tooltip-background-color-dark,
    tooltipBorderColor: $tooltip-border-color-dark,
    tooltipText1Color: $tooltip-key-text1-color-dark,
    tooltipText2Color: $tooltip-key-text2-color-dark,
    tooltipSeparatorColor: $tooltip-separator-color-dark,
    searchAlternativeBackground: $color-background-dark-5,
    textPlaceholderColor: $color-text-placeholder-dark,
    messageErrorBackground: $color-background-dark-4,
    messageErrorText: $color-text-search-dark,
    switcher: $color-background-dark-4,
    notificationBackground: $color-toast-background-dark,
    notificationBody: $color-background-dark-2,
    notificationHeader: $color-background-dark-3,
  ),
);
