@import "../../../styles/styles-utils.scss";

.widget {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 3px 4px 0 rgba(0, 0, 0, 0.16),
        0 1px 5px 0 rgba(0, 0, 0, 0.16);
}

.widget__header {
    @include themify($themes) {
        color: themed("widgetHeaderTextColor");
        background-color: themed("widgetHeaderColor");
    }
    user-select: none;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.625rem;

    .widget__header-title {
        font-family: $font-primary;
        font-size: 1rem;
        margin-right: 0.25rem;
        @include themify($themes) {
            color: themed("widgetHeaderTextColor");
        }
    }

    .icons {
        display: flex;
        width: auto;
        cursor: pointer;
    }
}
.widget__content {
    @include themify($themes) {
        background-color: themed("widgetContentColor");
    }
    width: 100%;
    height: calc(100% - 48px);
    overflow: hidden;
}
