@import "../../../styles/styles-utils.scss";

.linear-progress-bar{
    display:flex;
    flex-direction:column;
    &__labels {
        display:flex;
        justify-content:space-between;
        padding-bottom: $spacing-xxxs;
        span {
            font-size: $font-size-xs;
            font-family: $font-primary;
            @include themify($themes) {
                color: themed("textColorBase");
            }
        }
    }
    &__progressbar {
        width: 100%;
        position: relative;
        border-radius: 8px;
        @include themify($themes) {
            background-color: themed("linearProgressbarBackgroundColor");
        }
        .filled {
            position: absolute;
            border-radius: 8px;
            @include themify($themes) {
                background-color: themed("linearProgressbarLightBlueColor");
            }
            &.lightblue {
                @include themify($themes) {
                    background-color: themed("linearProgressbarLightBlueColor");
                }
            }
            &.blue {
                @include themify($themes) {
                    background-color: themed("linearProgressbarBlueColor");
                }
            }
            &.lightgreen {
                @include themify($themes) {
                    background-color: themed("linearProgressbarLightGreenColor");
                }
            }
        }
    }
    
}
