@import "../../../styles/styles-utils.scss";

.switcher__wrapper {
    .switcher__switch {
        display: inline-block;
        height: 16px;
        position: relative;
        width: 32px;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16),
            0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.16);

        :before {
            background-color: $color-background-light-2;
            bottom: 0px;
            content: "";
            height: 16px;
            left: 0px;
            position: absolute;
            transition: 0.4s;
            width: 16px;
        }

        input {
            display: none;
            &:checked {
                + .switcher__slider {
                    background-color: $color-primary-darker-1;
                    &:before {
                        transform: translateX(16px);
                        background-color: $color-primary;
                    }
                }
            }
        }

        .switcher__slider {
            @include themify($themes) {
                background-color: themed("switcher");
            }
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: 0.4s;
            &.switcher__round {
                border-radius: 24px;
                &:before {
                    border-radius: 50%;
                }
            }
        }
    }
}
