@import "../../../styles/styles-utils.scss";

$tooltip-triangle-shadow: 0 0 6px rgba(0, 0, 0, 0.8);

.tooltip__content-container {
    position: fixed;
    top: -1200;
    left: 0;
    box-sizing: border-box;
    box-shadow: $elevation-2;
    border-radius: 0.125rem;
    font-family: $font-primary;
    font-size: 0.75rem;
    letter-spacing: 0;
    line-height: 1.0625rem;
    text-align: center;
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }

    @include themify($themes) {
        color: themed("textColorWeaker");
    }

    @include themify($themes) {
        background-color: themed("panelBackgroundColor2");
    }

    &:before {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        left: 50%;
        width: 0.75rem;
        height: 0.75rem;
        box-shadow: $tooltip-triangle-shadow;
        transform: translate(-50%, -50%) rotate(135deg);
        -webkit-clip-path: polygon(
            -0.375rem -0.375rem,
            calc(100% + 0.375rem) -0.375rem,
            calc(100% + 0.375rem) calc(100% + 0.375rem)
        );
        clip-path: polygon(
            -0.375rem -0.375rem,
            calc(100% + 0.375rem) -0.375rem,
            calc(100% + 0.375rem) calc(100% + 0.375rem)
        );

        @include themify($themes) {
            background-color: themed("panelBackgroundColor2");
        }
    }
}
