@import "./styles-utils.scss";

.map-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .map-error-container {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 250px;
        @include themify($themes) {
            background-color: themed("PanelHeader");
        }
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
            0 3px 4px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.16);

        .map-error-header {
            display: flex;
            width: 100%;
            height: 36px;
            @include themify($themes) {
                color: themed("TextBase");
            }

            .map-error-header-title {
                display: flex;
                width: calc(100% - 14px);
                height: 100%;
                align-items: center;
                padding-left: 14px;
                font-family: $font-primary;
            }

            .map-error-icon {
                position: absolute;
                top: 5px;
                right: 10px;
                width: 14px;
                height: 14px;
                @include themify($themes) {
                    color: themed("IconColor");
                }
                opacity: 0.6;
                cursor: pointer;
            }
        }

        .map-error-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc(100% - 36px);
            @include themify($themes) {
                background-color: themed("PanelBody");
            }

            .map-error-body-icon {
                display: flex;
                width: calc(100% - 40px);
                height: 60px;
                padding: 20px;
                margin-top: 20px;
                svg {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    color: #e37272;
                }
            }

            .map-error-body-message {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                font-size: 1rem;
                font-family: $font-primary;
                @include themify($themes) {
                    color: themed("TextBase");
                }
                text-align: center;
            }
        }
    }
}

.map-error-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
