$font-primary: "Open Sans", sans-serif;

$color-text-search-dark: #ffffff;
$color-text-search-light: #3a3a3a;

$color-icon-search-dark: #fff;
$color-icon-search-light: #3a3a3a;

$color-border-dark: 1px solid #292f30;
$color-border-light: 1px solid #bbbbbb;

@function themed($key) {
    @return map-get($theme-map, $key);
}

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

/*
 * Implementation of themes
 */
@mixin themify($themes) {
    @each $theme, $map in $themes {
        .#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

$themes: (
    light: (
        TextColor: $color-text-search-light,
        IconColor: $color-icon-search-light,
        borderColor: $color-border-light,
    ),
    dark: (
        TextColor: $color-text-search-dark,
        IconColor: $color-icon-search-dark,
        borderColor: $color-border-dark,
    ),
);
