@import "../../../styles/styles-utils.scss";

.sub-menu {
    display: flex;
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    @include themify($themes) {
        background-color: themed("panelBackgroundColor2");
    }
}

.sub-menu-left {
    flex-grow: 1;
    height: 82px;
}

.sub-menu-right {
    display: inline-flex;
}
