@import "./styles-utils.scss";

.user-icon {
    display: flex;
    min-width: 120px;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .user-avatar-photo {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;
        user-select: none;
    }

    .user-avatar-name {
        margin-top: 4px;
        text-transform: none;
        @include themify($themes) {
            color: themed("textColorBase");
        }
        font-family: $font-primary;
        font-size: 0.875rem;
        user-select: none;
    }
}
