@import "../../../styles/styles-utils.scss";

.filter-component {
    display: flex;
    height: 38px;
    max-height: 38px;
    border-radius: 2.3px;
    @include themify($themes) {
        border: themed("BorderColor");
        background-color: themed("backgroundSearchColor");
    }
    align-items: center;
    cursor: pointer;
    &.alternative {
        @include themify($themes) {
            background-color: themed("searchAlternativeBackground");
        }
    }

    &.l {
        font-size: $font-size-m;
        height: $spacing-l;
        width: 14.2219rem;
        padding: 0 1rem;
    }

    &.m {
        font-size: $font-size-s;
        height: $spacing-m;
        width: 12.4375rem;
        padding: 0 0.875rem;
    }

    &.s {
        font-size: $font-size-xs;
        height: $spacing-m;
        width: 10.5906rem;
        padding: 0 0.75rem;
    }
    &.disabled {
        cursor: not-allowed;
        @include themify($themes) {
            background-color: themed("panelBackgroundColor");
        }
        .filter-component-text {
            @include themify($themes) {
                color: themed("textColorWeakest");
            }
        }
        .filter-component-icon {
            svg {
                path {
                    @include themify($themes) {
                        fill: themed("textColorWeakest");
                    }
                }
            }
        }
    }
    .filter-component-text {
        display: flex;
        flex-grow: 1;
        font-family: $font-primary;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 22px;
        @include themify($themes) {
            color: themed("textSearchColor");
        }
        &.alternative {
            @include themify($themes) {
                background-color: themed("filterAlternativeBackground");
            }
        }
        &.l {
            font-size: $font-size-m;
            width: 14.2219rem;
        }
        &.m {
            font-size: $font-size-s;
            width: 12.4375rem;
        }

        &.s {
            font-size: $font-size-xs;
            width: 10.5906rem;
        }
    }

    .filter-component-icon {
        background-color: transparent;
        cursor: pointer;
        svg {
            path {
                @include themify($themes) {
                    fill: themed("iconColor");
                }
            }
        }
        &.l {
            width: 1.375rem;
            padding-top: 0.25rem;
        }

        &.m {
            width: 1.125rem;
            padding-top: 0.25rem;
        }

        &.s {
            width: 1.125rem;
            padding-top: 0.25rem;
        }
    }
}

.filter-component-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.alternative {
        @include themify($themes) {
            background-color: themed("searchAlternativeBackground");
        }
    }
}
