.app {
    display: grid;
    grid-template-rows: 30% auto;
    grid-template-columns: 80% auto;
}

.sidebar {
    grid-row: 2;
    grid-column: 1;
    background: red;
}

.content {
    grid-row: 1;
    grid-column: 1;
    background: yellow;
}
