.app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(100px, auto);
}

.sidebar {
    background-color: red;
    grid-column: 1;
}

.content {
    background-color: yellow;
}
