body {
  background-color: #131316;
  color: #ffff;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.logos {
  display: flex;
  flex-direction: row;
}

.logo:nth-child(2) {
  padding: 20px;
  margin: 20px;
  width: 60px;
  height: 60px;
  background-color: blue;
  transition-delay: 100ms;
}

.logo:nth-child(3) {
  padding: 20px;
  margin: 20px;
  width: 60px;
  height: 60px;
  background-color: yellow;
  transition-delay: 300ms;
}

.logo:nth-child(4) {
  padding: 20px;
  margin: 20px;
  width: 60px;
  height: 60px;
  background-color: red;
  transition-delay: 500ms;
}

.logo:nth-child(5) {
  padding: 20px;
  margin: 20px;
  width: 60px;
  height: 60px;
  background-color: purple;
  transition-delay: 700ms;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduce-motion) {
  .hidden {
    transition: none;
  }
}
