@import "../../../styles/styles-utils.scss";
.icons {
    .ellipsis-icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
        svg {
            width: 24px;
            height: 24px;
            opacity: 0.5;
            @include themify($themes) {
                color: themed("iconColor");
            }
        }
    }
}
