@import "../../../styles/styles-utils.scss";

.subpath {
    display: flex;
    width: 100%;
    height: 82px;
}

.subpath-title {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    @include themify($themes) {
        color: themed("textColorBase");
    }
    font-family: $font-primary;
    font-size: 1.75rem !important;
    font-weight: 400;
    margin-left: 24px;
}

.subpath-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
