$font-primary: "Open Sans", sans-serif;

$color-background-dark-base: #444e54;
$color-background-light-base: #ffffff;

$color-header-tile-dark: #3f484d;
$color-header-tile-light: #f3f3f3;

$color-header-text-tile-dark: #fff;
$color-header-text-tile-light: #000;

$color-icon-tile-dark: #fff;
$color-icon-tile-light: #000;

@function themed($key) {
    @return map-get($theme-map, $key);
}

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

/*
 * Implementation of themes
 */
@mixin themify($themes) {
    @each $theme, $map in $themes {
        .#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

$themes: (
    light: (
        BackgroundColorBase: $color-background-light-base,
        HeaderColorTile: $color-header-tile-light,
        HeaderTextColorTile: $color-header-text-tile-light,
        IconColorTile: $color-icon-tile-light,
    ),
    dark: (
        BackgroundColorBase: $color-background-dark-base,
        HeaderColorTile: $color-header-tile-dark,
        HeaderTextColorTile: $color-header-text-tile-dark,
        IconColorTile: $color-icon-tile-dark,
    ),
);
