@import "../../../styles/styles-utils.scss";

.tile-map {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    @include themify($themes) {
        background-color: themed("panelBackgroundColor");
    }
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 3px 4px 0 rgba(0, 0, 0, 0.16),
        0 1px 5px 0 rgba(0, 0, 0, 0.16);
}
