.container {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding:0 4rem ;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 1.5rem;
    padding: 0 1rem;
}

.searchInput {
    background: url('/icons/iconLoupe.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(237, 232, 243);
    border-radius: 1rem;
    text-align:start;
    border: none;
    outline: none;
    width: 1.5rem;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 16px;
    font-size: 18px;
    -webkit-appearance: none;
    transition: all .6s ease;
    cursor: pointer;
  }
  
  .searchInput::placeholder{
    position: absolute;
    top: 1rem;
    text-align: justify;
  }
  
  .searchInput:focus {
      width: 160px;
      padding: 0 4px;
      cursor: text;
  }
  