@import "./styles-utils.scss";

.select-dropdown-content {
    display: flex;
    min-height: 60px;
    max-height: 140px;
    flex-direction: column;
    padding: 0 0 8px 11px;

    .select-dropdown-items {
        height: 100%;
        width: 100%;
        .select-item-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            .select-item-title {
                width: 100%;
                height: auto;
                padding: 8px 16px;
                &--selected {
                    padding: 8px 16px;
                }
            }
        }
    }
}

.select-dropdown-content-top {
    margin-top: 17px;
}

/* Custom Scroll Bar */
.custom-scrollbar-selector-names {
    padding-right: 10px;
    margin-right: 12px;
    cursor: pointer;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        @include themify($themes) {
            background-color: themed("backgroundColorScrollbar");
        }
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        @include themify($themes) {
            background: themed("backgroundBaseScrollbar");
        }
        border-radius: 10px;
    }

    &::-webkit-scrollbar-corner {
        @include themify($themes) {
            background: themed("backgroundCornerScrollbar");
        }
    }

    @include themify($themes) {
        scrollbar-color: themed("backgroundScrollbar");
    }
    scrollbar-width: thin;
}
