@import "./styles-utils.scss";

.selector-tooltip {
    display: block;
    position: absolute;
    width: 95%;
    height: auto;
    bottom: 32px;
    text-align: center;
    border-radius: 4px;
    padding: 6px;
    @include themify($themes) {
        background-color: themed("backgroundHoveredItemSelector");
        color: themed("colorBase");
    }
    font-family: $font-primary;
    font-size: 0.6875rem;
    z-index: 9999;
    .selector-tooltip-arrow {
        position: absolute;
        left: 45%;
        bottom: -4px;
        width: 0px;
        height: 0px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        @include themify($themes) {
            border-top: 4px solid themed("backgroundHoveredItemSelector");
        }
    }
}
