@import "../../../styles/styles-utils.scss";

$button-focus-shadow: 0px 0px 1px 2px #319acb;
$button-background-blue-hover: #387c9b;
$button-background-gray-hover: #fff;
$button-background-blue-disabled: #25576e;
$button-background-gray-disabled: #c6c6c6;
$button-border-transparent-disabled: #b2b2b2;
$button-cta-box-shadow: #25576e;

.go-button {
    display: flex;
    justify-content: center;
    font-size: $font-size-s;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 8px 40px;
    cursor: pointer;
    font-family: $font-primary;

    &:active {
        box-shadow: $button-focus-shadow;
    }

    &:focus {
        outline: none;
    }

    &.cta-button {
        text-transform: uppercase;
        -webkit-box-shadow: 0px 7px 0px 0px $button-cta-box-shadow;
        -moz-box-shadow: 0px 7px 0px 0px $button-cta-box-shadow;
        box-shadow: 0px 7px 0px 0px $button-cta-box-shadow;
        color: $color-text-white-base;
        background-color: $color-primary;

        &:active {
            box-shadow: $button-focus-shadow;
        }

        .focus {
            height: 54px;
            width: 116.89px;
            border-radius: 27px;
            background-color: rgba(255, 255, 255, 0);
            box-shadow: 0 0 1px 2px $color-primary;
        }

        &.l {
            border-radius: 24.4px;
            width: 119.89px;
            height: 48.8px;
            padding: 14px 32px;
            font-size: $font-size-m;

            .button-content {
                height: 16px;

                .button-icon {
                    svg {
                        width: 22px;
                        height: 22px;
                        margin-right: 16px;
                    }
                }
            }
        }
        &.m {
            border-radius: 21px;
            width: 99.91px;
            height: 42px;
            padding: 12px 32px;
            font-size: $font-size-s;

            .button-content {
                height: 10px;

                .button-icon {
                    svg {
                        width: 17px;
                        height: 17px;
                        margin-right: 16px;
                    }
                }
            }
        }
        &.s {
            border-radius: 15.6px;
            width: 79.84px;
            height: 27.2px;
            padding: 10px 32px;
            font-size: $font-size-xs;

            .button-content {
                height: 4px;

                .button-icon {
                    svg {
                        width: 11px;
                        height: 11px;
                        margin-right: 16px;
                    }
                }
            }
        }

        &:hover {
            background-color: $button-background-blue-hover;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $color-primary-darker-1;

            .button-content {
                opacity: 0.3;
            }

            &:active {
                -webkit-box-shadow: 0px 7px 0px 0px $button-cta-box-shadow;
                -moz-box-shadow: 0px 7px 0px 0px $button-cta-box-shadow;
                box-shadow: 0px 7px 0px 0px $button-cta-box-shadow;
            }
        }
    }

    &__blue {
        color: $color-text-white-base;
        background-color: $color-primary;

        &:hover {
            background-color: $button-background-blue-hover;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $button-background-blue-disabled;

            &.cta-button {
                background-color: $color-primary-darker-1;
            }

            .button-content {
                opacity: 0.3;
            }

            &:active {
                box-shadow: none;
            }
        }
    }

    &__gray {
        color: $color-text-black-brighter-1;
        background-color: $color-background-light-5;

        .button-content {
            .button-icon {
                svg {
                    path {
                        fill: $color-text-black-brighter-1;
                    }
                }
            }
        }

        &:hover {
            background-color: $button-background-gray-hover;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $button-background-gray-disabled;
            opacity: 0.5;

            &:active {
                box-shadow: none;
            }
        }
    }

    &__transparent {
        @include themify($themes) {
            color: themed("textColorBase");
        }
        background-color: transparent;
        @include themify($themes) {
            border: 1px solid themed("textColorBase");
            .button-content {
                .button-icon {
                    svg {
                        path {
                            fill: themed("textColorBase");
                        }
                    }
                }
            }
        }

        &:hover {
            background-color: $button-background-gray-hover;
            color: $color-text-black-brighter-1;

            .button-content {
                .button-icon {
                    svg {
                        path {
                            fill: $color-text-black-brighter-1;
                        }
                    }
                }
            }
        }

        &:disabled {
            cursor: not-allowed;
            border-color: $button-border-transparent-disabled;
            color: $button-border-transparent-disabled;
            background-color: transparent;

            &:active {
                box-shadow: none;
            }

            .button-content {
                .button-icon {
                    svg {
                        path {
                            fill: $color-text-white-base;
                        }
                    }
                }
            }
        }
    }

    &__transparent-outlined {
        @include themify($themes) {
            color: themed("textColorBase");
        }
        background-color: transparent !important;
    }

    &.l {
        min-width: 100px;
        padding: 14px 32px;
        font-size: $font-size-m;

        .button-content {
            height: $spacing-xs;

            .button-icon {
                svg {
                    width: 22px;
                    height: 22px;
                    margin-right: 16px;
                }
            }
        }
    }

    &.m {
        min-width: 90px;
        padding: 12px 24px;
        font-size: $font-size-s;

        .button-content {
            height: $spacing-xxs;

            .button-icon {
                svg {
                    width: 17px;
                    height: 17px;
                    margin-right: 10px;
                }
            }
        }
    }

    &.s {
        min-width: 80px;
        padding: 10px 20px;
        font-size: $font-size-xs;

        .button-content {
            height: $spacing-xxs;

            .button-icon {
                svg {
                    width: 11px;
                    height: 11px;
                    margin-right: 8px;
                }
            }
        }
    }

    &.icon {
        &.l {
            padding: 14px 20px;
        }

        &.m {
            padding: 12px 16px;
        }

        &.s {
            padding: 10px 12px;
        }
        &.cta-button {
            &.l {
                width: 138px;
                height: 48.8px;
            }

            &.m {
                width: 120.93px;
                height: 42px;
            }

            &.s {
                width: 99px;
                height: 27.2px;
            }
        }
    }

    .button-content {
        display: flex;
        align-items: center;
        .button-icon {
            display: flex;
        }

        span {
            display: flex;
            white-space: nowrap;
        }
    }
}
