@import "../../../styles/styles-utils.scss";

.calendar {
    &__global-tabs-container {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: inherit;
        position: absolute;
        margin-top: 0.5rem;
        z-index: 20;

        display: inline-flex;
        width: fit-content;
        filter: drop-shadow(0em 0em 0.125em rgba(0, 0, 0, 0.8));

        &:after {
            content: " ";
            position: absolute;
            top: -0.375em;
            width: 0;
            height: 0;
            border-left: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
            border-bottom: 0.5em solid transparent;
            z-index: 50;
            left: 8%;

            @include themify($themes) {
                border-bottom-color: themed("panelBackgroundColor2");
            }
        }
    }

    &__main-tabs-container {
        position: relative;
        border-radius: 0.25em;
        padding: 0.75em;
        padding-left: 1.25em;
        padding-right: 1.25em;
        font-family: $font-primary;
        width: 16.25em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        z-index: 20;
        box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.16);

        &:after {
            content: "";
            position: absolute;
            width: 50%;
        }

        @include themify($themes) {
            background-color: themed("panelBackgroundColor2");
        }
    }

    &__header-main-container {
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.875rem;
        padding: 0em 0.75em;
    }

    &__back-arrow {
        margin-top: 0.25em;
        cursor: pointer;
        svg {
            width: 0.75em;
            transform: rotate(270deg);
            @include themify($themes) {
                color: themed("textColorWeakest");
            }
        }
    }

    &__forward-arrow {
        margin-top: 0.25em;
        cursor: pointer;
        svg {
            width: 0.75em;
            transform: rotate(90deg);
            @include themify($themes) {
                color: themed("textColorWeakest");
            }
        }
    }

    &__month-name {
        @include themify($themes) {
            color: themed("calendarMonthNameColor");
        }
    }

    &__weekday-container {
        display: grid;
        grid-template: auto / repeat(7, 1fr);
        justify-items: center;
        font-size: 0.75rem;
        margin: 1em 0em;
        @include themify($themes) {
            color: themed("textColorWeakest");
        }
    }

    &__weekday {
        width: 2em;
        text-align: center;
    }

    &__month-container {
        display: grid;
        grid-template: auto / repeat(7, 1fr);
        justify-items: center;
        font-size: 0.875rem;
        @include themify($themes) {
            color: themed("textColorBase");
        }
    }

    &__single-day {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        cursor: pointer;
        width: calc(18.6em / 7);
        height: calc(18.6em / 7);
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 0.375em;

        &.disabled-day {
            cursor: not-allowed;
            @include themify($themes) {
                color: themed("textColorWeakest");
            }
        }

        &.start-date-active {
            @include themify($themes) {
                background-color: themed("calendarTabsDayBetweenBackground");
            }
            color: $color-text-white-base;
            border-radius: 3.125em 0em 0em 3.125em;
            width: calc(18.6em / 7);

            &.end-week {
                background-color: transparent;
            }
        }

        &.end-date-active {
            @include themify($themes) {
                background-color: themed("calendarTabsDayBetweenBackground");
            }
            color: $color-text-white-base;
            border-radius: 0em 3.125em 3.125em 0em;
            width: calc(18.6em / 7);

            &.start-week {
                background-color: transparent;
            }
        }

        &.between-dates-alone {
            border-radius: 3.125em;
            @include themify($themes) {
                background-color: themed("calendarTabsDayBetweenBackground");
            }
        }

        &.between-dates-day {
            color: $color-text-white-base;
            @include themify($themes) {
                background-color: themed("calendarTabsDayBetweenBackground");
            }
        }

        &.between-dates-start {
            @include themify($themes) {
                background-color: themed("calendarTabsDayBetweenBackground");
            }
            color: $color-text-white-base;
            border-radius: 3.125em 0em 0em 3.125em;
            width: calc(18.6em / 7);
        }

        &.between-dates-end {
            @include themify($themes) {
                background-color: themed("calendarTabsDayBetweenBackground");
            }
            color: $color-text-white-base;
            border-radius: 0em 3.125em 3.125em 0em;
            width: calc(18.6em / 7);
        }
    }

    &__day-text {
        z-index: 10;
    }

    &__active-path-day {
        box-sizing: border-box;
        width: calc(18.6em / 7);
        height: calc(18.6em / 7);
        background-color: $color-primary;
        position: absolute;
        border-radius: 3.125em;
        z-index: 5;

        &.current-path {
            border: 0.2em solid $color-primary-brighter-1;
        }
    }

    &__buttons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0.5em;
        padding-top: 1.125em;

        @include themify($themes) {
            border-top: 0.0625em solid themed("calendarButtonsSeparatorColor");
        }

        .go-button {
            font-size: 0.875rem;
        }
    }

    &__cancel-button {
        cursor: pointer;
        font-size: 0.875rem;
        margin-right: 2.5em;
        @include themify($themes) {
            color: themed("textColorBase");
        }
    }

    &__tabs-container {
        display: flex;
        align-items: center;
        font-family: $font-primary;
        position: relative;
        top: 0.125em;
    }

    &__single-tab {
        position: relative;
        cursor: pointer;
        width: 50%;
        border-radius: 0.25em 0.25em 0em 0em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5em;

        @include themify($themes) {
            background-color: themed("panelBackgroundColor2");
        }
        @include themify($themes) {
            color: themed("textColorWeakest");
        }

        &.active-right-tab {
            box-shadow: 3px 0px 3px 0px rgb(0 0 0 / 16%);
            @include themify($themes) {
                color: themed("textColorBase");
            }
            z-index: 30;
        }

        &.active-left-tab {
            box-shadow: -3px 0px 3px 0px rgb(0 0 0 / 16%);
            @include themify($themes) {
                color: themed("textColorBase");
            }
            z-index: 30;
        }
    }

    &__tabs-hidder {
        position: absolute;
        width: 100%;
        height: 0.625em;
        bottom: -0.25em;
        @include themify($themes) {
            background-color: themed("panelBackgroundColor2");
        }

        &.right-hide {
            z-index: 40;
            left: 100%;
        }
    }

    &__calendar-hidder {
        position: absolute;
        bottom: -0.375em;
        width: 50%;
        height: 0.5em;
        left: 75%;
        z-index: 45;
        @include themify($themes) {
            background-color: themed("panelBackgroundColor2");
        }
    }

    &__tabs-text {
        &.active-tab {
            border-bottom: 0.125em solid $color-primary;
        }
    }
}

.datepicker-simple {
    &__global-container {
        display: flex;
        flex-direction: column;
    }
}

.datepicker-tabs-input {
    &__main-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        width: 16.25rem;
    }

    &__label {
        font-family: $font-primary;
        padding-bottom: 0.5rem;
        @include themify($themes) {
            color: themed("textColorBase");
        }

        &.l {
            font-size: 1rem;
        }

        &.m {
            font-size: 0.875rem;
        }

        &.s {
            font-size: 0.75rem;
        }
    }

    &__input {
        font-family: $font-primary;
        border-radius: 0.125em;
        cursor: pointer;
        min-width: 16em;
        box-sizing: border-box;
        width: 100%;

        &.l {
            font-size: 1rem;
            padding: 0.5em 1.25em;
            height: 2.5rem;
        }

        &.m {
            font-size: 0.875rem;
            padding: 0.5em 0.875em;
            height: 2rem;
        }

        &.s {
            font-size: 0.75rem;
            padding: 0.5em 0.75em;
            height: 2rem;
        }

        &.disabled {
            cursor: not-allowed;
            @include themify($themes) {
                color: themed("textColorWeakest");
            }
        }

        @include themify($themes) {
            border: 0.0625em solid themed("inputBorder");
            color: themed("textColorBase");
            background-color: themed("inputBackground");
        }

        &::placeholder {
            color: $color-text-white-darker-2;
        }

        &:focus {
            outline: none;
            box-shadow: 0em 0em 0.0625em 0.125em $color-primary;
        }

        &.alternative {
            @include themify($themes) {
                background-color: themed("datePickerAlternativeBackground");
            }
        }
    }

    &__group {
        display: flex;
        position: relative;
        width: 100%;
    }

    &__icon {
        cursor: pointer;
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        right: 0.75em;

        @include themify($themes) {
            color: themed("textColorBase");
        }

        &.l {
            svg {
                width: 1.375em;
            }
        }

        &.m {
            svg {
                width: 1.0625em;
            }
        }

        &.s {
            svg {
                width: 0.6875em;
            }
        }

        &.disabled {
            cursor: not-allowed;
            @include themify($themes) {
                color: themed("textColorWeakest");
            }
        }
    }
}
