@import "../../../styles/styles-utils.scss";

/* Custom Scroll Bar */
.custom-scrollbar {
    padding-right: 10px;
    cursor: pointer;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        @include themify($themes) {
            background-color: themed("backgroundColorScrollbar");
        }
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        @include themify($themes) {
            background: themed("backgroundBaseScrollbar");
        }
        border-radius: 10px;
    }

    &::-webkit-scrollbar-corner {
        @include themify($themes) {
            background: themed("backgroundCornerScrollbar");
        }
    }

    @include themify($themes) {
        scrollbar-color: themed("backgroundScrollbar");
    }
    scrollbar-width: thin;
}
