@import "./styles-utils.scss";

.notification-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    height: auto;
    @include themify($themes) {
        background-color: themed("backgroundColor");
    }
    margin-bottom: 1em;
    cursor: default;

    &:first-child {
        margin-top: 1em;
    }
}

.notification-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
    @include themify($themes) {
        background-color: themed("headerColor");
    }
    align-items: center;
}

.notification-alarm {
    display: flex;
    flex-direction: row;
    width: 24px;
    height: 24px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.75em;

    svg {
        width: 15px;
        height: 15px;
        cursor: pointer;
        path {
            @include themify($themes) {
                opacity: 0.5;
                fill: themed("iconColor");
            }
        }
    }
}

.notification-title {
    display: flex;
    flex-grow: 1;
    height: 18px;
    @include themify($themes) {
        color: themed("titleColor");
    }
    font-family: $font-primary;
    font-size: 0.875rem;
    letter-spacing: 0.16px;
    line-height: 18px;
}

.notification-read {
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;

    svg {
        width: 15px;
        height: 15px;
        cursor: pointer;
        path {
            opacity: 0.5;
            @include themify($themes) {
                fill: themed("iconColor");
            }
        }
    }
}

.notification-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.notification-content {
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.notification-content-icon {
    display: flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0.375em;
    margin-right: 1.5em;

    .icon-content {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;

        &.--normal {
            background-color: #319acb;
        }

        &.--alarm {
            background-color: #e37272;
        }

        &.--readed {
            background-color: #444e54;
        }

        svg {
            width: 20px;
            height: 20px;
            path {
                fill: #ffffff;
            }
        }
    }
}

.notification-content-description {
    width: 277px;
    min-height: 50px;
    height: auto;
    font-family: $font-primary;
    font-size: 0.75rem;
    letter-spacing: 0;
    line-height: 17px;
    text-align: justify;

    .--disabled {
        @include themify($themes) {
            color: themed("disabledColor");
        }
    }

    .--enabled {
        @include themify($themes) {
            color: themed("titleColor");
        }
    }
}

.notification-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    span {
        padding: 5px;
        height: 16px;
        width: 76px;
        @include themify($themes) {
            color: themed("dateColor");
        }
        font-family: $font-primary;
        font-size: 0.75rem;
        letter-spacing: 0;
        line-height: 17px;
        text-align: right;
    }
}
