.title {
    font-family: 'Gruppo';
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.main {
    padding: 1rem 0;
    flex: 1;
}

@media (max-width: 600px) {
    .main {
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
} 
